name: Screener Semanal Jesse Stine

on:
  schedule:
    # Se ejecuta todos los sábados a las 08:00 UTC (9:00 AM hora España aprox)
    - cron: '0 8 * * 6'
  workflow_dispatch: # Esto te permite darle al botón "Play" cuando quieras probarlo

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ejecutar Screener
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python Screener_Stine.py
